@storlexxbot-NoCBWWNZPgKeG4Wf.json
{"createdAt":"2025-07-06T16:55:08.783Z","updatedAt":"2025-08-01T20:47:18.329Z","id":"NoCBWWNZPgKeG4Wf","name":"@StorLexxBot","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"fd38af77-3420-4c4e-80b1-7810a40fed6a","name":"Telegram Trigger1","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1260,280],"webhookId":"e6140884-0155-4b99-8034-254b3e4f03b0","credentials":{"telegramApi":{"id":"LtXNv00coe9jU4Bw","name":"@StorLexxBot"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o","mode":"list","cachedResultName":"Story YouTube Bot Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"UserRequests","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"userId":"={{ $json.message.from.id }}","timestamp":"={{ new Date().toISOString() }}","lastRequest":"={{ Date.now() }}","username":"={{ $json.message.from.username }}","preferredVoice":"={{ $json.preferredVoice || 'ru-RU-Wavenet-D' }}","pitch":"={{ $json.pitch || 0 }}","speakingRate":"={{ $json.speakingRate || 1 }}","voiceName":"={{ $json.voiceName || 'Анна' }}","audioFormat":"={{ $json.audioFormat || 'MP3' }}"},"matchingColumns":["userId"],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lastRequest","displayName":"lastRequest","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"preferredVoice","displayName":"preferredVoice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"voiceName","displayName":"voiceName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"speakingRate","displayName":"speakingRate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"pitch","displayName":"pitch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"audioFormat","displayName":"audioFormat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"USER_ENTERED"}},"id":"b810f91b-23fb-4622-ba1b-98327b0b5ca1","name":"Check Rate Limit1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-1060,400],"credentials":{"googleSheetsOAuth2Api":{"id":"E7s2cNFa3ycWAS32","name":"Google Sheets @StorLexxBot"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.lastRequest === undefined || (new Date().getTime() - parseInt($json.lastRequest)) >= 60000 }}","value2":true}]}},"id":"02d741f7-b6b4-4973-bd70-93f17b4c8946","name":"Rate Limit OK?1","type":"n8n-nodes-base.if","typeVersion":1,"position":[-860,280]},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"=⏳ Подождите минуту перед следующим запросом. Осталось {{ Math.ceil((60000 - (new Date().getTime() - parseInt($('Check Rate Limit1').item.json.lastRequest))) / 1000) }} секунд.","additionalFields":{"appendAttribution":false}},"id":"b9693059-d03e-4d81-a2ae-43caa0527139","name":"Send Rate Limit Message1","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[-660,380],"webhookId":"41e22f12-8f53-4ee6-8670-b3073c43db59","credentials":{"telegramApi":{"id":"LtXNv00coe9jU4Bw","name":"@StorLexxBot"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"🎬 Получил ваш запрос! Генерирую сценарий для YouTube...","additionalFields":{"appendAttribution":false}},"id":"f2bd7fc8-b32b-439f-9fc6-0671c8146dc0","name":"Send Progress Message ","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[-660,160],"webhookId":"2bc32a0a-e2d0-4fa1-b0a2-59086a9260c3","credentials":{"telegramApi":{"id":"LtXNv00coe9jU4Bw","name":"@StorLexxBot"}}},{"parameters":{"assignments":{"assignments":[{"id":"prompt","name":"prompt","value":"={{ $('Telegram Trigger1').item.json.message.text }}","type":"string"},{"id":"requestedLength","name":"requestedLength","value":"={{ $('Telegram Trigger1').item.json.message.text.match(/\\d+\\s*символ/i) ? parseInt($('Telegram Trigger1').item.json.message.text.match(/\\d+/)[0]) : 22000 }}","type":"number"},{"id":"finalLength","name":"finalLength","value":"={{ $json.requestedLength > 25000 ? 25000 : $json.requestedLength }}","type":"number"},{"id":"d974c4da-08fa-48d4-99b6-ee1952666f09","name":"systemPrompt","value":"=Ты профессиональный сценарист YouTube. Создай увлекательный сценарий на тему: {{ $('Telegram Trigger1').item.json.message.text }}. \n\nВАЖНО:\n- Длина: ровно {{ $json.finalLength }} символов (включая пробелы)\n- Пиши ТОЛЬКО чистый текст для озвучки\n- НЕ добавляй никаких пометок, скобок, тайм-кодов, сносок\n- НЕ пиши \"Введение:\", \"Заключение:\" или другие заголовки\n- Текст должен литься как единый рассказ от начала до конца\n- Используй разговорный стиль, как будто ведущий говорит в камеру\n- Начни сразу с интересного факта или вопроса\n- Не добавляй форматирований, \"\", * и тд к тексту.\n- Закончи призывом к действию (подписаться, лайк, комментарий)","type":"string"}]},"options":{}},"id":"20cade36-1ccc-40b2-b167-a5fc73b450f2","name":"Prepare Request Data1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-260,180]},{"parameters":{"assignments":{"assignments":[{"id":"scriptText","name":"scriptText","value":"={{ $json.output }}","type":"string"},{"id":"actualLength","name":"actualLength","value":"={{ Math.min($json.output.length, $('Prepare Request Data1').item.json.finalLength) }}","type":"number"},{"id":"fileName","name":"fileName","value":"youtube_script_{{ Date.now() }}.txt","type":"string"}]},"options":{}},"id":"e594de21-d6de-49e9-8cac-252772149736","name":"Validate & Trim Script1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[260,180]},{"parameters":{"modelName":"models/gemini-2.5-pro-preview-06-05","options":{"maxOutputTokens":8192,"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-140,400],"id":"d3c4cb30-670f-4326-a7b6-7a4dae851783","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"VGq4hiHPtHO2doaT","name":"Google Gemini @StorLexxBot"}}},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"={{ $json.systemPrompt }}","maxIterations":1}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-80,180],"id":"839ac375-a37d-430a-a5ce-2ad9dd59a5ff","name":"AI Agent1"},{"parameters":{"jsCode":"const text = $input.first().json.scriptText;\nconst maxLength = 2400;\nlet parts = [];\n\n// Разбиваем текст на части\nlet currentPart = '';\nconst sentences = text.match(/[^.!?]+[.!?]+/g) || [text];\n\nfor (const sentence of sentences) {\n  if ((currentPart + sentence).length <= maxLength) {\n    currentPart += sentence;\n  } else {\n    if (currentPart.trim()) parts.push(currentPart.trim());\n    currentPart = sentence;\n    if (parts.length >= 10) break;\n  }\n}\nif (currentPart.trim() && parts.length < 10) {\n  parts.push(currentPart.trim());\n}\n\n// ВАЖНО: Очистка текста ПЕРЕД return\nparts = parts.map(part => \n  part.replace(/\"/g, \"'\")       // заменяем двойные кавычки на одинарные\n      .replace(/\\n/g, \" \")       // заменяем переносы строк на пробелы\n      .replace(/\\\\/g, \"\")        // убираем обратные слеши\n      .replace(/\\r/g, \" \")       // убираем возврат каретки\n      .trim()\n);\n\n// Возвращаем каждую часть как отдельный item\nreturn parts.map((part, index) => ({\n  json: {\n    textPart: part,\n    partNumber: index + 1,\n    totalParts: parts.length,\n    partLength: part.length,\n    chatId: $('Telegram Trigger1').first().json.message.chat.id  // ИСПРАВЛЕНО: .item на .first()\n  }\n}));"},"id":"2993a376-10a8-4cd1-8c1f-856f602266ac","name":"Split Text for TTS1","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,180],"alwaysOutputData":false},{"parameters":{"operation":"sendAudio","chatId":"={{ $json.chatId }}","binaryData":true,"binaryPropertyName":"=audioData","additionalFields":{"caption":"=🎵 Часть {{ $('Split Text for TTS1').item.json.partNumber }} из {{ $('Split Text for TTS1').item.json.totalParts }}"}},"id":"86e48a36-79a2-4cd3-952b-a304e3b6cc92","name":"Send Audio to Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[1480,180],"webhookId":"51806135-af15-4ea6-b887-172ec28064fd","credentials":{"telegramApi":{"id":"LtXNv00coe9jU4Bw","name":"@StorLexxBot"}}},{"parameters":{"method":"POST","url":"=https://texttospeech.googleapis.com/v1beta1/text:synthesize?key=AIzaSyAw_ZdPrj2pvgkM2HHP52MoOtfAJIPl5UE","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"audioConfig\": {\n    \"audioEncoding\": \"LINEAR16\",\n    \"effectsProfileId\": [\n      \"small-bluetooth-speaker-class-device\"\n    ],\n    \"pitch\": 0,\n    \"speakingRate\": 1\n  },\n  \"input\": {\n    \"text\": \"{{ $json.textPart }}\"\n  },\n  \"voice\": {\n    \"languageCode\": \"ru-RU\",\n    \"name\": \"ru-RU-Chirp3-HD-Aoede\"\n  }\n}","options":{"response":{"response":{"fullResponse":true,"responseFormat":"json"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,180],"id":"b49820be-997b-4c33-924e-96e5302ce8be","name":"PART1"},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"🎤 Начинаю озвучку сценария...","additionalFields":{"appendAttribution":false}},"id":"75772add-1283-4228-ade2-6e0a4c96f8dc","name":"TTS Progress Message1","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[440,20],"webhookId":"a9a06f2c-d96c-49c1-8bc4-ebe09c0afb0c","credentials":{"telegramApi":{"id":"LtXNv00coe9jU4Bw","name":"@StorLexxBot"}}},{"parameters":{"assignments":{"assignments":[{"id":"452f820c-48fa-494e-aabd-aa1473532358","name":"=prompt","value":"={{ $('Telegram Trigger1').item.json.message.text }}","type":"string"},{"id":"e75130d3-3c16-4137-967a-a1b87a76a23d","name":"requestedLength","value":"={{ $('Telegram Trigger1').item.json.message.text.match(/\\d+\\s*символ/i) ? parseInt($('Telegram Trigger1').item.json.message.text.match(/\\d+/)[0]) : 22000 }}","type":"number"},{"id":"cdae62f4-d7cf-4363-9ec2-9295a11dfcf4","name":"finalLength","value":"={{ $json.requestedLength > 25000 ? 25000 : $json.requestedLength }}","type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-440,180],"id":"99fed111-44c8-4370-b644-ac4243aa7bef","name":"Edit Fields2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1300,180],"id":"3bc43a4d-b2dd-4090-9254-d1ed88194408","name":"Wait1","webhookId":"f42e2eb5-6c48-4bd7-b772-e90276bcebea"},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot7623073095:AAHHz5mHIGu33XzZdJaF9v5QCAnVZDvYJ3Q/sendChatAction","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('Telegram Trigger1').item.json.message.from.id }}"},{"name":"action","value":"typing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1060,140],"id":"2f2ebcb4-48bb-499e-b0ee-ab764e75e4d1","name":"HTTP typing...","alwaysOutputData":true,"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot7623073095:AAHHz5mHIGu33XzZdJaF9v5QCAnVZDvYJ3Q/sendChatAction","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('Telegram Trigger1').item.json.message.from.id }}"},{"name":"action","value":"typing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"6b8f2590-04ad-4875-87a4-6aa6c96c6057","name":"HTTP typing...3","alwaysOutputData":true,"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"f15a054f-5771-48be-8a61-60f2edd5510f","name":"chatId","value":"={{ $('Telegram Trigger1').first().json.message.chat.id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,180],"id":"29c59aad-3ff1-46f0-a2f4-afbb6d84ac08","name":"Edit Fields3"},{"parameters":{"operation":"toBinary","sourceProperty":"body.audioContent","binaryPropertyName":"audioData","options":{"fileName":"=audio_part_{{ $('Split Text for TTS1').item.json.partNumber }}.mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[940,180],"id":"0b02fe80-b718-4661-8374-ac287f954a66","name":"Convert to File1"},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"❌ Произошла ошибка при генерации сценария.  Попробуйте еще раз через минуту или обратитесь к администратору.  Ошибка: {{ $json.error.message }}","additionalFields":{"appendAttribution":false}},"id":"05cf9dd3-51ee-41ae-9ed0-3f535e9e9bff","name":"Send Error Message1","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[-420,800],"webhookId":"fa46b0b2-de8a-4f95-a419-bcd88df95543","credentials":{"telegramApi":{"id":"LtXNv00coe9jU4Bw","name":"@StorLexxBot"}},"disabled":true},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o","mode":"list","cachedResultName":"Story YouTube Bot Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1309497314,"mode":"list","cachedResultName":"Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o/edit#gid=1309497314"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ new Date().toISOString() }}","userId":"={{ $('Telegram Trigger1').item.json.message.from.id }}","username":"={{ $('Telegram Trigger1').item.json.message.from.username }}","prompt":"={{ $('Telegram Trigger1').item.json.message.text }}","scriptLength":"=0","status":"=error","fileName":"=-","error":"={{ $('Catch Errors').item.json.error.message || 'Unknown error' }}"},"matchingColumns":[],"schema":[{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scriptLength","displayName":"scriptLength","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fileName","displayName":"fileName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"error","displayName":"error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"3cb7c797-2edf-411c-8fbe-5c7afc33f55c","name":"Log Error to Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-220,800],"credentials":{"googleSheetsOAuth2Api":{"id":"E7s2cNFa3ycWAS32","name":"Google Sheets @StorLexxBot"}},"disabled":true},{"parameters":{},"id":"b79fc8fc-5846-44ca-abb5-b47174848f02","name":"Catch Errors","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-620,800],"disabled":true},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o","mode":"list","cachedResultName":"Story YouTube Bot Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1309497314,"mode":"list","cachedResultName":"Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o/edit#gid=1309497314"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ new Date().toISOString() }}","userId":"={{ $('Telegram Trigger1').item.json.message.from.id }}","username":"={{ $('Telegram Trigger1').item.json.message.from.username }}","prompt":"={{ $('Telegram Trigger1').item.json.message.text }}","script":"={{ $('Validate & Trim Script1').item.json.scriptText }}","scriptLength":"={{ $('Validate & Trim Script1').item.json.actualLength }}","status":"=success","fileName":"={{ $('Validate & Trim Script1').item.json.fileName }}","error":"=none"},"matchingColumns":[],"schema":[{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"script","displayName":"script","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scriptLength","displayName":"scriptLength","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fileName","displayName":"fileName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"error","displayName":"error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"5bbc453e-1346-4881-8995-03911469e14c","name":"Log Success to Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1660,180],"credentials":{"googleSheetsOAuth2Api":{"id":"E7s2cNFa3ycWAS32","name":"Google Sheets @StorLexxBot"}}}],"connections":{"Telegram Trigger1":{"main":[[{"node":"Rate Limit OK?1","type":"main","index":0},{"node":"HTTP typing...","type":"main","index":0},{"node":"Check Rate Limit1","type":"main","index":0}]]},"Check Rate Limit1":{"main":[[{"node":"Rate Limit OK?1","type":"main","index":0}]]},"Rate Limit OK?1":{"main":[[{"node":"Send Progress Message ","type":"main","index":0}],[{"node":"Send Rate Limit Message1","type":"main","index":0}]]},"Send Progress Message ":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Prepare Request Data1","type":"main","index":0}]]},"Prepare Request Data1":{"main":[[{"node":"AI Agent1","type":"main","index":0},{"node":"HTTP typing...3","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Validate & Trim Script1","type":"main","index":0}]]},"Validate & Trim Script1":{"main":[[{"node":"Split Text for TTS1","type":"main","index":0},{"node":"TTS Progress Message1","type":"main","index":0}]]},"Split Text for TTS1":{"main":[[{"node":"PART1","type":"main","index":0}]]},"PART1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Send Audio to Telegram1","type":"main","index":0}]]},"Send Audio to Telegram1":{"main":[[{"node":"Log Success to Sheets","type":"main","index":0}]]},"Catch Errors":{"main":[[{"node":"Send Error Message1","type":"main","index":0}]]},"Send Error Message1":{"main":[[{"node":"Log Error to Sheets1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"62bae146-45e8-4330-b75f-afca1a209f40","triggerCount":1,"shared":[{"createdAt":"2025-07-06T16:55:08.783Z","updatedAt":"2025-07-06T16:55:08.783Z","role":"workflow:owner","workflowId":"NoCBWWNZPgKeG4Wf","projectId":"zzPl0J6fgMubUxOk"}],"tags":[]}