@storlexxbot-copy-Qx2Ujxcc1xbn6rpK.json
{"createdAt":"2025-07-06T17:24:24.411Z","updatedAt":"2025-07-06T18:39:28.330Z","id":"Qx2Ujxcc1xbn6rpK","name":"@StorLexxBot copy","active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{},"path":"16eee8cf-8a6c-4346-a34b-21148d3f0096"},"id":"9dea4cb8-c0c4-4622-95f1-f96ba81acc36","name":"Telegram Trigger1","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1260,280],"webhookId":"16eee8cf-8a6c-4346-a34b-21148d3f0096","credentials":{"telegramApi":{"id":"LtXNv00coe9jU4Bw","name":"@StorLexxBot"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o","mode":"list","cachedResultName":"Story YouTube Bot Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"UserRequests","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"userId":"={{ $json.message.from.id }}","timestamp":"={{ new Date().toISOString() }}","lastRequest":"={{ Date.now() }}","username":"={{ $json.message.from.username }}","preferredVoice":"={{ $json.preferredVoice || 'ru-RU-Wavenet-D' }}","pitch":"={{ $json.pitch || 0 }}","speakingRate":"={{ $json.speakingRate || 1 }}","voiceName":"={{ $json.voiceName || 'Анна' }}","audioFormat":"={{ $json.audioFormat || 'MP3' }}"},"matchingColumns":["userId"],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lastRequest","displayName":"lastRequest","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"preferredVoice","displayName":"preferredVoice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"voiceName","displayName":"voiceName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"speakingRate","displayName":"speakingRate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"pitch","displayName":"pitch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"audioFormat","displayName":"audioFormat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"USER_ENTERED"}},"id":"809fce27-4029-41c0-89fe-5eaa70dbec4d","name":"Check Rate Limit1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-1060,400],"credentials":{"googleSheetsOAuth2Api":{"id":"E7s2cNFa3ycWAS32","name":"Google Sheets @StorLexxBot"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.lastRequest === undefined || (new Date().getTime() - parseInt($json.lastRequest)) >= 60000 }}","value2":true}]}},"id":"42f7fda1-d128-4293-b625-db333f01639f","name":"Rate Limit OK?1","type":"n8n-nodes-base.if","typeVersion":1,"position":[-860,280]},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"=⏳ Подождите минуту перед следующим запросом. Осталось {{ Math.ceil((60000 - (new Date().getTime() - parseInt($('Check Rate Limit1').item.json.lastRequest))) / 1000) }} секунд.","additionalFields":{"appendAttribution":false},"path":"54d1daa2-a72a-4f3d-97f9-2bc0f01d29b2"},"id":"bb8b4999-64bc-4ced-91eb-a734aa6e3c31","name":"Send Rate Limit Message1","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[-660,380],"webhookId":"54d1daa2-a72a-4f3d-97f9-2bc0f01d29b2","credentials":{"telegramApi":{"id":"LtXNv00coe9jU4Bw","name":"@StorLexxBot"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"🎬 Получил ваш запрос! Генерирую сценарий для YouTube...","additionalFields":{"appendAttribution":false},"path":"14fff2ee-a52d-4143-98d9-fa6d74c63f83"},"id":"89c88e3b-4da8-4f0a-84ca-6f9c3902f0c8","name":"Send Progress Message ","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[-660,160],"webhookId":"14fff2ee-a52d-4143-98d9-fa6d74c63f83","credentials":{"telegramApi":{"id":"LtXNv00coe9jU4Bw","name":"@StorLexxBot"}}},{"parameters":{"assignments":{"assignments":[{"id":"prompt","name":"prompt","value":"={{ $('Telegram Trigger1').item.json.message.text }}","type":"string"},{"id":"requestedLength","name":"requestedLength","value":"={{ $('Telegram Trigger1').item.json.message.text.match(/\\d+\\s*символ/i) ? parseInt($('Telegram Trigger1').item.json.message.text.match(/\\d+/)[0]) : 22000 }}","type":"number"},{"id":"finalLength","name":"finalLength","value":"={{ $json.requestedLength > 25000 ? 25000 : $json.requestedLength }}","type":"number"},{"id":"d974c4da-08fa-48d4-99b6-ee1952666f09","name":"systemPrompt","value":"=Ты профессиональный сценарист YouTube. Создай увлекательный сценарий на тему: {{ $('Telegram Trigger1').item.json.message.text }}. \n\nВАЖНО:\n- Длина: ровно {{ $json.finalLength }} символов (включая пробелы)\n- Пиши ТОЛЬКО чистый текст для озвучки\n- НЕ добавляй никаких пометок, скобок, тайм-кодов, сносок\n- НЕ пиши \"Введение:\", \"Заключение:\" или другие заголовки\n- Текст должен литься как единый рассказ от начала до конца\n- Используй разговорный стиль, как будто ведущий говорит в камеру\n- Начни сразу с интересного факта или вопроса\n- Не добавляй форматирований, \"\", * и тд к тексту.\n- Закончи призывом к действию (подписаться, лайк, комментарий)","type":"string"}]},"options":{}},"id":"82b84f9b-7be8-4a7b-a627-e5c6812881e1","name":"Prepare Request Data1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-260,180]},{"parameters":{"assignments":{"assignments":[{"id":"scriptText","name":"scriptText","value":"={{ $json.output }}","type":"string"},{"id":"actualLength","name":"actualLength","value":"={{ Math.min($json.output.length, $('Prepare Request Data1').item.json.finalLength) }}","type":"number"},{"id":"fileName","name":"fileName","value":"youtube_script_{{ Date.now() }}.txt","type":"string"}]},"options":{}},"id":"db9b4b98-d3fb-4604-9b88-59d628c57092","name":"Validate & Trim Script1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[260,180]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o","mode":"list","cachedResultName":"Story YouTube Bot Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1309497314,"mode":"list","cachedResultName":"Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o/edit#gid=1309497314"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ new Date().toISOString() }}","userId":"={{ $('Telegram Trigger1').item.json.message.from.id }}","username":"={{ $('Telegram Trigger1').item.json.message.from.username }}","prompt":"={{ $('Telegram Trigger1').item.json.message.text }}","scriptLength":"={{ $('Validate & Trim Script1').item.json.actualLength }}","status":"=success","fileName":"={{ $('Validate & Trim Script1').item.json.fileName }}","error":"=none"},"matchingColumns":[],"schema":[{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scriptLength","displayName":"scriptLength","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fileName","displayName":"fileName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"error","displayName":"error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"b44741b0-355b-4b7e-b989-f1f4ac5b4edc","name":"Log Success to Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1660,180],"credentials":{"googleSheetsOAuth2Api":{"id":"E7s2cNFa3ycWAS32","name":"Google Sheets @StorLexxBot"}}},{"parameters":{"modelName":"models/gemini-2.5-pro-preview-06-05","options":{"maxOutputTokens":8192,"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-140,400],"id":"6aa1c99b-26d8-4bc8-9d13-559a9e26dc57","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"VGq4hiHPtHO2doaT","name":"Google Gemini @StorLexxBot"}}},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"={{ $json.systemPrompt }}","maxIterations":1}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-80,180],"id":"01ca5870-152e-4e00-8eb3-fd1327e446c2","name":"AI Agent1"},{"parameters":{"jsCode":"const text = $input.first().json.scriptText;\nconst maxLength = 2400;\nlet parts = [];\n\n// Разбиваем текст на части\nlet currentPart = '';\nconst sentences = text.match(/[^.!?]+[.!?]+/g) || [text];\n\nfor (const sentence of sentences) {\n  if ((currentPart + sentence).length <= maxLength) {\n    currentPart += sentence;\n  } else {\n    if (currentPart.trim()) parts.push(currentPart.trim());\n    currentPart = sentence;\n    if (parts.length >= 10) break;\n  }\n}\nif (currentPart.trim() && parts.length < 10) {\n  parts.push(currentPart.trim());\n}\n\n// ВАЖНО: Очистка текста ПЕРЕД return\nparts = parts.map(part => \n  part.replace(/\"/g, \"'\")       // заменяем двойные кавычки на одинарные\n      .replace(/\\n/g, \" \")       // заменяем переносы строк на пробелы\n      .replace(/\\\\/g, \"\")        // убираем обратные слеши\n      .replace(/\\r/g, \" \")       // убираем возврат каретки\n      .trim()\n);\n\n// Возвращаем каждую часть как отдельный item\nreturn parts.map((part, index) => ({\n  json: {\n    textPart: part,\n    partNumber: index + 1,\n    totalParts: parts.length,\n    partLength: part.length,\n    chatId: $('Telegram Trigger1').first().json.message.chat.id  // ИСПРАВЛЕНО: .item на .first()\n  }\n}));"},"id":"d944cb11-00ac-41fa-953e-1e961c98c8cb","name":"Split Text for TTS1","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,180],"alwaysOutputData":false},{"parameters":{"operation":"sendAudio","chatId":"={{ $json.chatId }}","binaryData":true,"binaryPropertyName":"=audioData","additionalFields":{"caption":"=🎵 Часть {{ $('Split Text for TTS1').item.json.partNumber }} из {{ $('Split Text for TTS1').item.json.totalParts }}"},"path":"c6f0e2d8-d507-4417-a321-9e79cee9ce9c"},"id":"65852063-ba05-467b-b790-206d9c65fe09","name":"Send Audio to Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[1480,180],"webhookId":"c6f0e2d8-d507-4417-a321-9e79cee9ce9c","credentials":{"telegramApi":{"id":"LtXNv00coe9jU4Bw","name":"@StorLexxBot"}}},{"parameters":{"method":"POST","url":"=https://texttospeech.googleapis.com/v1/text:synthesize?key=AIzaSyAw_ZdPrj2pvgkM2HHP52MoOtfAJIPl5UE","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"input\": {\n    \"text\": \"{{ $json.textPart }}\"\n  },\n  \"voice\": {\n    \"languageCode\": \"ru-RU\",\n    \"name\": \"ru-RU-Wavenet-D\",\n    \"ssmlGender\": \"FEMALE\"\n  },\n  \"audioConfig\": {\n    \"audioEncoding\": \"MP3\"\n  }\n}","options":{"response":{"response":{"fullResponse":true,"responseFormat":"json"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,180],"id":"76e92955-9aca-43ec-9f80-b3787c713666","name":"PART1"},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"🎤 Начинаю озвучку сценария...","additionalFields":{"appendAttribution":false},"path":"515e8f6f-ea07-450a-8ae3-49e61817b8e0"},"id":"8d134ce2-1d89-4421-a96f-7dc530a5b23f","name":"TTS Progress Message1","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[440,20],"webhookId":"515e8f6f-ea07-450a-8ae3-49e61817b8e0","credentials":{"telegramApi":{"id":"LtXNv00coe9jU4Bw","name":"@StorLexxBot"}}},{"parameters":{"assignments":{"assignments":[{"id":"452f820c-48fa-494e-aabd-aa1473532358","name":"=prompt","value":"={{ $('Telegram Trigger1').item.json.message.text }}","type":"string"},{"id":"e75130d3-3c16-4137-967a-a1b87a76a23d","name":"requestedLength","value":"={{ $('Telegram Trigger1').item.json.message.text.match(/\\d+\\s*символ/i) ? parseInt($('Telegram Trigger1').item.json.message.text.match(/\\d+/)[0]) : 22000 }}","type":"number"},{"id":"cdae62f4-d7cf-4363-9ec2-9295a11dfcf4","name":"finalLength","value":"={{ $json.requestedLength > 25000 ? 25000 : $json.requestedLength }}","type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-440,180],"id":"41409485-0e93-4a69-8d7f-8e9666400442","name":"Edit Fields2"},{"parameters":{"path":"97d61601-d255-4678-a8e8-acad2647392b"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1300,180],"id":"24029407-1db1-4ab7-b5a5-eab943e0e203","name":"Wait1","webhookId":"97d61601-d255-4678-a8e8-acad2647392b"},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot7623073095:AAHHz5mHIGu33XzZdJaF9v5QCAnVZDvYJ3Q/sendChatAction","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('Telegram Trigger1').item.json.message.from.id }}"},{"name":"action","value":"typing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1060,140],"id":"44d9272a-3575-4b5d-9da5-3450d344512e","name":"HTTP typing...","alwaysOutputData":true,"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot7623073095:AAHHz5mHIGu33XzZdJaF9v5QCAnVZDvYJ3Q/sendChatAction","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('Telegram Trigger1').item.json.message.from.id }}"},{"name":"action","value":"typing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"c4e9079c-fc11-4bb7-82c9-35cf9b4e967d","name":"HTTP typing...3","alwaysOutputData":true,"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"f15a054f-5771-48be-8a61-60f2edd5510f","name":"chatId","value":"={{ $('Telegram Trigger1').first().json.message.chat.id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,180],"id":"348efa2e-f137-4842-9b60-2e5988fd72fd","name":"Edit Fields3"},{"parameters":{"operation":"toBinary","sourceProperty":"body.audioContent","binaryPropertyName":"audioData","options":{"fileName":"=audio_part_{{ $('Split Text for TTS1').item.json.partNumber }}.mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[940,180],"id":"dee1758b-485f-470c-a29a-66c0ec6cc56c","name":"Convert to File1"},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"❌ Произошла ошибка при генерации сценария.  Попробуйте еще раз через минуту или обратитесь к администратору.  Ошибка: {{ $json.error.message }}","additionalFields":{"appendAttribution":false},"path":"bd9c83bd-79cb-4dfc-8e7c-52bff2df3dad"},"id":"5db2eb59-4ccc-4709-9461-77ae28a91fa7","name":"Send Error Message1","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[-420,800],"webhookId":"bd9c83bd-79cb-4dfc-8e7c-52bff2df3dad","credentials":{"telegramApi":{"id":"LtXNv00coe9jU4Bw","name":"@StorLexxBot"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o","mode":"list","cachedResultName":"Story YouTube Bot Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1309497314,"mode":"list","cachedResultName":"Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o/edit#gid=1309497314"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ new Date().toISOString() }}","userId":"={{ $('Telegram Trigger1').item.json.message.from.id }}","username":"={{ $('Telegram Trigger1').item.json.message.from.username }}","prompt":"={{ $('Telegram Trigger1').item.json.message.text }}","scriptLength":"=0","status":"=error","fileName":"=-","error":"={{ $('Catch Errors').item.json.error.message || 'Unknown error' }}"},"matchingColumns":[],"schema":[{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scriptLength","displayName":"scriptLength","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fileName","displayName":"fileName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"error","displayName":"error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"6142aeae-4a28-4983-bc2a-ad33d1b9a900","name":"Log Error to Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-220,800],"credentials":{"googleSheetsOAuth2Api":{"id":"E7s2cNFa3ycWAS32","name":"Google Sheets @StorLexxBot"}}},{"parameters":{},"id":"9d744015-526a-420c-81c6-5727ae887fb9","name":"Catch Errors","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-620,800]}],"connections":{"Telegram Trigger1":{"main":[[{"node":"Rate Limit OK?1","type":"main","index":0},{"node":"HTTP typing...","type":"main","index":0},{"node":"Check Rate Limit1","type":"main","index":0}]]},"Check Rate Limit1":{"main":[[{"node":"Rate Limit OK?1","type":"main","index":0}]]},"Rate Limit OK?1":{"main":[[{"node":"Send Progress Message ","type":"main","index":0}],[{"node":"Send Rate Limit Message1","type":"main","index":0}]]},"Send Progress Message ":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Prepare Request Data1","type":"main","index":0}]]},"Prepare Request Data1":{"main":[[{"node":"AI Agent1","type":"main","index":0},{"node":"HTTP typing...3","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Validate & Trim Script1","type":"main","index":0}]]},"Validate & Trim Script1":{"main":[[{"node":"Split Text for TTS1","type":"main","index":0},{"node":"TTS Progress Message1","type":"main","index":0}]]},"Split Text for TTS1":{"main":[[{"node":"PART1","type":"main","index":0}]]},"PART1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Send Audio to Telegram1","type":"main","index":0}]]},"Send Audio to Telegram1":{"main":[[{"node":"Log Success to Sheets1","type":"main","index":0}]]},"Catch Errors":{"main":[[{"node":"Send Error Message1","type":"main","index":0}]]},"Send Error Message1":{"main":[[{"node":"Log Error to Sheets1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7a96eb2e-057c-4045-9719-cb724128a490","triggerCount":1,"shared":[{"createdAt":"2025-07-06T17:24:24.411Z","updatedAt":"2025-07-06T17:24:24.411Z","role":"workflow:owner","workflowId":"Qx2Ujxcc1xbn6rpK","projectId":"zzPl0J6fgMubUxOk"}],"tags":[]}