@storlexxbot-copy-2-oyrj4Ib1nCGyq2zP.json
{"createdAt":"2025-07-30T14:09:12.304Z","updatedAt":"2025-08-01T19:46:10.944Z","id":"oyrj4Ib1nCGyq2zP","name":"@StorLexxBot copy 2","active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{},"path":"2b951916-8005-4f94-aa5e-2cfb95ea1532"},"id":"582a2961-3ac5-4e02-ada9-38574e4732a8","name":"Telegram Trigger1","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1260,280],"webhookId":"2b951916-8005-4f94-aa5e-2cfb95ea1532","credentials":{"telegramApi":{"id":"LtXNv00coe9jU4Bw","name":"@StorLexxBot"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o","mode":"list","cachedResultName":"Story YouTube Bot Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"UserRequests","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"userId":"={{ $json.message.from.id }}","timestamp":"={{ new Date().toISOString() }}","lastRequest":"={{ Date.now() }}","username":"={{ $json.message.from.username }}","preferredVoice":"={{ $json.preferredVoice || 'ru-RU-Wavenet-D' }}","pitch":"={{ $json.pitch || 0 }}","speakingRate":"={{ $json.speakingRate || 1 }}","voiceName":"={{ $json.voiceName || 'Анна' }}","audioFormat":"={{ $json.audioFormat || 'MP3' }}"},"matchingColumns":["userId"],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lastRequest","displayName":"lastRequest","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"preferredVoice","displayName":"preferredVoice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"voiceName","displayName":"voiceName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"speakingRate","displayName":"speakingRate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"pitch","displayName":"pitch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"audioFormat","displayName":"audioFormat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"USER_ENTERED"}},"id":"d5a13383-6a4b-4faa-ab30-482208060476","name":"Check Rate Limit1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-1060,400],"credentials":{"googleSheetsOAuth2Api":{"id":"E7s2cNFa3ycWAS32","name":"Google Sheets @StorLexxBot"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.lastRequest === undefined || (new Date().getTime() - parseInt($json.lastRequest)) >= 60000 }}","value2":true}]}},"id":"ffd70411-15f1-4bd4-8556-45fcec62ef9c","name":"Rate Limit OK?1","type":"n8n-nodes-base.if","typeVersion":1,"position":[-860,280]},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"=⏳ Подождите минуту перед следующим запросом. Осталось {{ Math.ceil((60000 - (new Date().getTime() - parseInt($('Check Rate Limit1').item.json.lastRequest))) / 1000) }} секунд.","additionalFields":{"appendAttribution":false},"path":"7f6cdeb5-3651-48b2-9cf9-5660dd83ac7e"},"id":"6f342df0-a833-4714-ad61-f0f513942e5b","name":"Send Rate Limit Message1","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[-660,380],"webhookId":"7f6cdeb5-3651-48b2-9cf9-5660dd83ac7e","credentials":{"telegramApi":{"id":"LtXNv00coe9jU4Bw","name":"@StorLexxBot"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"🎬 Получил ваш запрос! Генерирую сценарий для YouTube...","additionalFields":{"appendAttribution":false},"path":"4e08af06-7c1b-4c19-a15d-a4841df2e4c8"},"id":"105fc1ed-31bf-4f54-926c-7ac14a0b4c2f","name":"Send Progress Message ","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[-660,160],"webhookId":"4e08af06-7c1b-4c19-a15d-a4841df2e4c8","credentials":{"telegramApi":{"id":"LtXNv00coe9jU4Bw","name":"@StorLexxBot"}}},{"parameters":{"assignments":{"assignments":[{"id":"prompt","name":"prompt","value":"={{ $('Telegram Trigger1').item.json.message.text }}","type":"string"},{"id":"requestedLength","name":"requestedLength","value":"={{ $('Telegram Trigger1').item.json.message.text.match(/\\d+\\s*символ/i) ? parseInt($('Telegram Trigger1').item.json.message.text.match(/\\d+/)[0]) : 22000 }}","type":"number"},{"id":"finalLength","name":"finalLength","value":"={{ $json.requestedLength > 25000 ? 25000 : $json.requestedLength }}","type":"number"},{"id":"d974c4da-08fa-48d4-99b6-ee1952666f09","name":"systemPrompt","value":"=Ты профессиональный сценарист YouTube. Создай увлекательный сценарий на тему: {{ $('Telegram Trigger1').item.json.message.text }}. \n\nВАЖНО:\n- Длина: ровно {{ $json.finalLength }} символов (включая пробелы)\n- Пиши ТОЛЬКО чистый текст для озвучки\n- НЕ добавляй никаких пометок, скобок, тайм-кодов, сносок\n- НЕ пиши \"Введение:\", \"Заключение:\" или другие заголовки\n- Текст должен литься как единый рассказ от начала до конца\n- Используй разговорный стиль, как будто ведущий говорит в камеру\n- Начни сразу с интересного факта или вопроса\n- Не добавляй форматирований, \"\", * и тд к тексту.\n- Закончи призывом к действию (подписаться, лайк, комментарий)","type":"string"}]},"options":{}},"id":"b18b5133-9fa3-40fe-b230-c90d476ea1c7","name":"Prepare Request Data1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-260,180]},{"parameters":{"assignments":{"assignments":[{"id":"scriptText","name":"scriptText","value":"={{ $json.output }}","type":"string"},{"id":"actualLength","name":"actualLength","value":"={{ Math.min($json.output.length, $('Prepare Request Data1').item.json.finalLength) }}","type":"number"},{"id":"fileName","name":"fileName","value":"youtube_script_{{ Date.now() }}.txt","type":"string"}]},"options":{}},"id":"beec8b95-9a8c-4e29-8060-0601dd4ff825","name":"Validate & Trim Script1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[260,180]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o","mode":"list","cachedResultName":"Story YouTube Bot Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1309497314,"mode":"list","cachedResultName":"Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o/edit#gid=1309497314"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ new Date().toISOString() }}","userId":"={{ $('Telegram Trigger1').item.json.message.from.id }}","username":"={{ $('Telegram Trigger1').item.json.message.from.username }}","prompt":"={{ $('Telegram Trigger1').item.json.message.text }}","scriptLength":"={{ $('Validate & Trim Script1').item.json.actualLength }}","status":"=success","fileName":"={{ $('Validate & Trim Script1').item.json.fileName }}","error":"=none"},"matchingColumns":[],"schema":[{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scriptLength","displayName":"scriptLength","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fileName","displayName":"fileName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"error","displayName":"error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"af3d8ca6-1fdb-4ebb-b06f-d6e6bb8c7df0","name":"Log Success to Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1660,180],"credentials":{"googleSheetsOAuth2Api":{"id":"E7s2cNFa3ycWAS32","name":"Google Sheets @StorLexxBot"}}},{"parameters":{"modelName":"models/gemini-2.5-pro-preview-06-05","options":{"maxOutputTokens":8192,"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-140,400],"id":"72940a84-d567-4113-9125-e8fc309949d9","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"VGq4hiHPtHO2doaT","name":"Google Gemini @StorLexxBot"}}},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"={{ $json.systemPrompt }}","maxIterations":1}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-80,180],"id":"a587963c-b0b1-4332-b8d6-5be022848a41","name":"AI Agent1"},{"parameters":{"jsCode":"const text = $input.first().json.scriptText;\nconst maxLength = 2400;\nlet parts = [];\n\n// Разбиваем текст на части\nlet currentPart = '';\nconst sentences = text.match(/[^.!?]+[.!?]+/g) || [text];\n\nfor (const sentence of sentences) {\n  if ((currentPart + sentence).length <= maxLength) {\n    currentPart += sentence;\n  } else {\n    if (currentPart.trim()) parts.push(currentPart.trim());\n    currentPart = sentence;\n    if (parts.length >= 10) break;\n  }\n}\nif (currentPart.trim() && parts.length < 10) {\n  parts.push(currentPart.trim());\n}\n\n// ВАЖНО: Очистка текста ПЕРЕД return\nparts = parts.map(part => \n  part.replace(/\"/g, \"'\")       // заменяем двойные кавычки на одинарные\n      .replace(/\\n/g, \" \")       // заменяем переносы строк на пробелы\n      .replace(/\\\\/g, \"\")        // убираем обратные слеши\n      .replace(/\\r/g, \" \")       // убираем возврат каретки\n      .trim()\n);\n\n// Возвращаем каждую часть как отдельный item\nreturn parts.map((part, index) => ({\n  json: {\n    textPart: part,\n    partNumber: index + 1,\n    totalParts: parts.length,\n    partLength: part.length,\n    chatId: $('Telegram Trigger1').first().json.message.chat.id  // ИСПРАВЛЕНО: .item на .first()\n  }\n}));"},"id":"0b3b062e-6e91-4743-8281-fffdbee9ab7c","name":"Split Text for TTS1","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,180],"alwaysOutputData":false},{"parameters":{"operation":"sendAudio","chatId":"={{ $json.chatId }}","binaryData":true,"binaryPropertyName":"=audioData","additionalFields":{"caption":"=🎵 Часть {{ $('Split Text for TTS1').item.json.partNumber }} из {{ $('Split Text for TTS1').item.json.totalParts }}"},"path":"dffec9e5-2063-420d-910d-cc1100e55edc"},"id":"7b170e70-da29-4564-92c6-3bc33c525965","name":"Send Audio to Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[1480,180],"webhookId":"dffec9e5-2063-420d-910d-cc1100e55edc","credentials":{"telegramApi":{"id":"LtXNv00coe9jU4Bw","name":"@StorLexxBot"}}},{"parameters":{"method":"POST","url":"=https://texttospeech.googleapis.com/v1beta1/text:synthesize?key=AIzaSyAw_ZdPrj2pvgkM2HHP52MoOtfAJIPl5UE","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"audioConfig\": {\n    \"audioEncoding\": \"LINEAR16\",\n    \"effectsProfileId\": [\n      \"small-bluetooth-speaker-class-device\"\n    ],\n    \"pitch\": 0,\n    \"speakingRate\": 1\n  },\n  \"input\": {\n    \"text\": \"{{ $json.textPart }}\"\n  },\n  \"voice\": {\n    \"languageCode\": \"ru-RU\",\n    \"name\": \"ru-RU-Chirp3-HD-Aoede\"\n  }\n}","options":{"response":{"response":{"fullResponse":true,"responseFormat":"json"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,180],"id":"29284c59-3eda-4600-885d-3f3415c40906","name":"PART1"},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"🎤 Начинаю озвучку сценария...","additionalFields":{"appendAttribution":false},"path":"7609782d-cfe1-487a-b301-e00f1c77f6a9"},"id":"570a65a9-96bc-4ae5-be74-70fec03e0f3a","name":"TTS Progress Message1","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[440,20],"webhookId":"7609782d-cfe1-487a-b301-e00f1c77f6a9","credentials":{"telegramApi":{"id":"LtXNv00coe9jU4Bw","name":"@StorLexxBot"}}},{"parameters":{"assignments":{"assignments":[{"id":"452f820c-48fa-494e-aabd-aa1473532358","name":"=prompt","value":"={{ $('Telegram Trigger1').item.json.message.text }}","type":"string"},{"id":"e75130d3-3c16-4137-967a-a1b87a76a23d","name":"requestedLength","value":"={{ $('Telegram Trigger1').item.json.message.text.match(/\\d+\\s*символ/i) ? parseInt($('Telegram Trigger1').item.json.message.text.match(/\\d+/)[0]) : 22000 }}","type":"number"},{"id":"cdae62f4-d7cf-4363-9ec2-9295a11dfcf4","name":"finalLength","value":"={{ $json.requestedLength > 25000 ? 25000 : $json.requestedLength }}","type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-440,180],"id":"6c7d34cf-a72b-4670-8a8d-62763a30b158","name":"Edit Fields2"},{"parameters":{"path":"d0a62475-2483-4668-8996-7b3bdfac09fa"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1300,180],"id":"f9d0fa47-3313-4d1f-a81b-54818885ec5c","name":"Wait1","webhookId":"d0a62475-2483-4668-8996-7b3bdfac09fa"},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot7623073095:AAHHz5mHIGu33XzZdJaF9v5QCAnVZDvYJ3Q/sendChatAction","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('Telegram Trigger1').item.json.message.from.id }}"},{"name":"action","value":"typing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1060,140],"id":"6d297788-3f21-4225-98bd-b3ea1762480a","name":"HTTP typing...","alwaysOutputData":true,"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot7623073095:AAHHz5mHIGu33XzZdJaF9v5QCAnVZDvYJ3Q/sendChatAction","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('Telegram Trigger1').item.json.message.from.id }}"},{"name":"action","value":"typing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"2073bc13-2cf0-45ae-978a-a6757d07a83c","name":"HTTP typing...3","alwaysOutputData":true,"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"f15a054f-5771-48be-8a61-60f2edd5510f","name":"chatId","value":"={{ $('Telegram Trigger1').first().json.message.chat.id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,180],"id":"1833b6b8-257d-4277-be0d-4a3628a0139d","name":"Edit Fields3"},{"parameters":{"operation":"toBinary","sourceProperty":"body.audioContent","binaryPropertyName":"audioData","options":{"fileName":"=audio_part_{{ $('Split Text for TTS1').item.json.partNumber }}.mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[940,180],"id":"6faae197-8563-4d38-9051-5d0337743acb","name":"Convert to File1"},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"❌ Произошла ошибка при генерации сценария.  Попробуйте еще раз через минуту или обратитесь к администратору.  Ошибка: {{ $json.error.message }}","additionalFields":{"appendAttribution":false},"path":"aa6e5e34-1a5d-4fc4-a019-1b0a605c2060"},"id":"d00d0643-f472-4800-8654-5e01b84acdc4","name":"Send Error Message1","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[-420,800],"webhookId":"aa6e5e34-1a5d-4fc4-a019-1b0a605c2060","credentials":{"telegramApi":{"id":"LtXNv00coe9jU4Bw","name":"@StorLexxBot"}},"disabled":true},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o","mode":"list","cachedResultName":"Story YouTube Bot Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1309497314,"mode":"list","cachedResultName":"Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o/edit#gid=1309497314"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ new Date().toISOString() }}","userId":"={{ $('Telegram Trigger1').item.json.message.from.id }}","username":"={{ $('Telegram Trigger1').item.json.message.from.username }}","prompt":"={{ $('Telegram Trigger1').item.json.message.text }}","scriptLength":"=0","status":"=error","fileName":"=-","error":"={{ $('Catch Errors').item.json.error.message || 'Unknown error' }}"},"matchingColumns":[],"schema":[{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scriptLength","displayName":"scriptLength","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fileName","displayName":"fileName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"error","displayName":"error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"e661ed6b-b3f7-404c-b7c0-3dbe05c09654","name":"Log Error to Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-220,800],"credentials":{"googleSheetsOAuth2Api":{"id":"E7s2cNFa3ycWAS32","name":"Google Sheets @StorLexxBot"}},"disabled":true},{"parameters":{},"id":"2c82e52d-06fb-4aa4-90aa-c820ba15624e","name":"Catch Errors","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-620,800],"disabled":true}],"connections":{"Telegram Trigger1":{"main":[[{"node":"Rate Limit OK?1","type":"main","index":0},{"node":"HTTP typing...","type":"main","index":0},{"node":"Check Rate Limit1","type":"main","index":0}]]},"Check Rate Limit1":{"main":[[{"node":"Rate Limit OK?1","type":"main","index":0}]]},"Rate Limit OK?1":{"main":[[{"node":"Send Progress Message ","type":"main","index":0}],[{"node":"Send Rate Limit Message1","type":"main","index":0}]]},"Send Progress Message ":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Prepare Request Data1","type":"main","index":0}]]},"Prepare Request Data1":{"main":[[{"node":"AI Agent1","type":"main","index":0},{"node":"HTTP typing...3","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Validate & Trim Script1","type":"main","index":0}]]},"Validate & Trim Script1":{"main":[[{"node":"Split Text for TTS1","type":"main","index":0},{"node":"TTS Progress Message1","type":"main","index":0}]]},"Split Text for TTS1":{"main":[[{"node":"PART1","type":"main","index":0}]]},"PART1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Send Audio to Telegram1","type":"main","index":0}]]},"Send Audio to Telegram1":{"main":[[{"node":"Log Success to Sheets1","type":"main","index":0}]]},"Catch Errors":{"main":[[{"node":"Send Error Message1","type":"main","index":0}]]},"Send Error Message1":{"main":[[{"node":"Log Error to Sheets1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9ae07ea0-3a5b-44a8-be47-e09f5101f270","triggerCount":1,"shared":[{"createdAt":"2025-07-30T14:09:12.304Z","updatedAt":"2025-07-30T14:09:12.304Z","role":"workflow:owner","workflowId":"oyrj4Ib1nCGyq2zP","projectId":"zzPl0J6fgMubUxOk"}],"tags":[]}