@storlexxbot-copy-3-uTQd4UOrwiMvFLZK.json
{"createdAt":"2025-08-01T19:46:17.809Z","updatedAt":"2025-08-01T20:49:54.920Z","id":"uTQd4UOrwiMvFLZK","name":"@StorLexxBot copy 3","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"398eb21b-0060-47f7-a1f1-081e997e9a2d","name":"Telegram Trigger1","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1260,280],"webhookId":"12087cbe-6490-4f7a-b8f6-b7548e6dd98d","credentials":{"telegramApi":{"id":"LtXNv00coe9jU4Bw","name":"@StorLexxBot"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o","mode":"list","cachedResultName":"Story YouTube Bot Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"UserRequests","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"userId":"={{ $json.message.from.id }}","timestamp":"={{ new Date().toISOString() }}","lastRequest":"={{ Date.now() }}","username":"={{ $json.message.from.username }}","preferredVoice":"={{ $json.preferredVoice || 'ru-RU-Wavenet-D' }}","pitch":"={{ $json.pitch || 0 }}","speakingRate":"={{ $json.speakingRate || 1 }}","voiceName":"={{ $json.voiceName || 'Анна' }}","audioFormat":"={{ $json.audioFormat || 'MP3' }}"},"matchingColumns":["userId"],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lastRequest","displayName":"lastRequest","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"preferredVoice","displayName":"preferredVoice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"voiceName","displayName":"voiceName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"speakingRate","displayName":"speakingRate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"pitch","displayName":"pitch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"audioFormat","displayName":"audioFormat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"USER_ENTERED"}},"id":"1ed2f003-b867-4c91-a8c9-b9c0fba2184a","name":"Check Rate Limit1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-1060,400],"credentials":{"googleSheetsOAuth2Api":{"id":"E7s2cNFa3ycWAS32","name":"Google Sheets @StorLexxBot"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.lastRequest === undefined || (new Date().getTime() - parseInt($json.lastRequest)) >= 60000 }}","value2":true}]}},"id":"68fe3b7e-994a-42c1-a1ca-0b24bba50c87","name":"Rate Limit OK?1","type":"n8n-nodes-base.if","typeVersion":1,"position":[-860,280]},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"=⏳ Подождите минуту перед следующим запросом. Осталось {{ Math.ceil((60000 - (new Date().getTime() - parseInt($('Check Rate Limit1').item.json.lastRequest))) / 1000) }} секунд.","additionalFields":{"appendAttribution":false}},"id":"cdfc4b1e-8d84-442c-8225-9384976e651b","name":"Send Rate Limit Message1","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[-660,380],"webhookId":"5103ab9e-6bbe-4bfb-98c3-9ebd570ad45d","credentials":{"telegramApi":{"id":"LtXNv00coe9jU4Bw","name":"@StorLexxBot"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"🎬 Получил ваш запрос! Генерирую сценарий для YouTube...","additionalFields":{"appendAttribution":false}},"id":"65bf872e-270b-4ad2-b1a3-2196c44e60e7","name":"Send Progress Message ","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[-660,160],"webhookId":"cbedb995-7a77-4755-becd-553a5d73b459","credentials":{"telegramApi":{"id":"LtXNv00coe9jU4Bw","name":"@StorLexxBot"}}},{"parameters":{"assignments":{"assignments":[{"id":"prompt","name":"prompt","value":"={{ $('Telegram Trigger1').item.json.message.text }}","type":"string"},{"id":"requestedLength","name":"requestedLength","value":"={{ $('Telegram Trigger1').item.json.message.text.match(/\\d+\\s*символ/i) ? parseInt($('Telegram Trigger1').item.json.message.text.match(/\\d+/)[0]) : 22000 }}","type":"number"},{"id":"finalLength","name":"finalLength","value":"={{ $json.requestedLength > 25000 ? 25000 : $json.requestedLength }}","type":"number"},{"id":"d974c4da-08fa-48d4-99b6-ee1952666f09","name":"systemPrompt","value":"=Ты — профессиональный сценарист YouTube, который пишет реалистичные и эмоционально насыщенные тексты от первого лица.\nТвоя задача — создать связный, увлекательный монолог, в котором человек рассказывает о личном опыте, событии или переживании. Текст должен быть логично выстроен, содержать живые детали и вызывать интерес у слушателя с первых строк.\n\nСоздай увлекательный сценарий на тему: {{ $('Telegram Trigger1').item.json.message.text }}. \n\nВАЖНО:\n- Длина: ровно {{ $json.finalLength }} символов (включая пробелы)\n- Текст должен быть написан от первого лица (без диалогов между персонажами, вся история звучит как личный рассказ)\n- Хронология должна быть соблюдена: начало, развитие, кульминация, завершение. Без временных скачков и путаницы.\n- Без прямой речи. Если нужно передать чужие слова – делайте это через пересказ (\"Он сказал, что…\").\n- Стиль — простой, как будто человек делится своим опытом голосом, без литературных оборотов и пафоса.\n- Пиши ТОЛЬКО чистый текст для озвучки\n- НЕ добавляй никаких пометок, скобок, тайм-кодов, сносок\n- НЕ пиши \"Введение:\", \"Заключение:\" или другие заголовки\n- Текст должен литься как единый рассказ от начала до конца\n- Используй разговорный стиль, как будто ведущий говорит в камеру\n- Начни сразу с интересного факта или вопроса\n- Не добавляй форматирований, \"\", * и тд к тексту.\n- Закончи призывом к действию (подписаться, лайк, комментарий)","type":"string"}]},"options":{}},"id":"a9c78178-3246-4c23-9a6a-0585fedd2ec4","name":"Prepare Request Data1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-260,180]},{"parameters":{"assignments":{"assignments":[{"id":"scriptText","name":"scriptText","value":"={{ $json.output }}","type":"string"},{"id":"actualLength","name":"actualLength","value":"={{ Math.min($json.output.length, $('Prepare Request Data1').item.json.finalLength) }}","type":"number"},{"id":"fileName","name":"fileName","value":"youtube_script_{{ Date.now() }}.txt","type":"string"}]},"options":{}},"id":"95634020-c81a-4154-a3ab-e34227b3c43a","name":"Validate & Trim Script1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[260,180]},{"parameters":{"modelName":"models/gemini-2.5-pro-preview-06-05","options":{"maxOutputTokens":8192,"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-140,400],"id":"309cc72e-3c23-4496-a835-137920bc337a","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"VGq4hiHPtHO2doaT","name":"Google Gemini @StorLexxBot"}}},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"={{ $json.systemPrompt }}","maxIterations":1}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-80,180],"id":"622b35b5-273b-40a4-a635-2c2ef201b299","name":"AI Agent1"},{"parameters":{"jsCode":"const text = $input.first().json.scriptText;\nconst maxLength = 2400;\nlet parts = [];\n\n// Разбиваем текст на части\nlet currentPart = '';\nconst sentences = text.match(/[^.!?]+[.!?]+/g) || [text];\n\nfor (const sentence of sentences) {\n  if ((currentPart + sentence).length <= maxLength) {\n    currentPart += sentence;\n  } else {\n    if (currentPart.trim()) parts.push(currentPart.trim());\n    currentPart = sentence;\n    if (parts.length >= 10) break;\n  }\n}\nif (currentPart.trim() && parts.length < 10) {\n  parts.push(currentPart.trim());\n}\n\n// ВАЖНО: Очистка текста ПЕРЕД return\nparts = parts.map(part => \n  part.replace(/\"/g, \"'\")       // заменяем двойные кавычки на одинарные\n      .replace(/\\n/g, \" \")       // заменяем переносы строк на пробелы\n      .replace(/\\\\/g, \"\")        // убираем обратные слеши\n      .replace(/\\r/g, \" \")       // убираем возврат каретки\n      .trim()\n);\n\n// Возвращаем каждую часть как отдельный item\nreturn parts.map((part, index) => ({\n  json: {\n    textPart: part,\n    partNumber: index + 1,\n    totalParts: parts.length,\n    partLength: part.length,\n    chatId: $('Telegram Trigger1').first().json.message.chat.id  // ИСПРАВЛЕНО: .item на .first()\n  }\n}));"},"id":"2d1438ff-36bf-40f9-bf06-b70dccedc2bf","name":"Split Text for TTS1","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,180],"alwaysOutputData":false},{"parameters":{"operation":"sendAudio","chatId":"={{ $json.chatId }}","binaryData":true,"binaryPropertyName":"=audioData","additionalFields":{"caption":"=🎵 Часть {{ $('Split Text for TTS1').item.json.partNumber }} из {{ $('Split Text for TTS1').item.json.totalParts }}"}},"id":"54771bbe-8fad-471b-81f2-2dcd86278100","name":"Send Audio to Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[1480,180],"webhookId":"993eee8d-1085-474d-877c-bfafecbe1032","credentials":{"telegramApi":{"id":"LtXNv00coe9jU4Bw","name":"@StorLexxBot"}}},{"parameters":{"method":"POST","url":"=https://texttospeech.googleapis.com/v1beta1/text:synthesize?key=AIzaSyAw_ZdPrj2pvgkM2HHP52MoOtfAJIPl5UE","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"audioConfig\": {\n    \"audioEncoding\": \"LINEAR16\",\n    \"effectsProfileId\": [\n      \"small-bluetooth-speaker-class-device\"\n    ],\n    \"pitch\": 0,\n    \"speakingRate\": 1\n  },\n  \"input\": {\n    \"text\": \"{{ $json.textPart }}\"\n  },\n  \"voice\": {\n    \"languageCode\": \"ru-RU\",\n    \"name\": \"ru-RU-Chirp3-HD-Aoede\"\n  }\n}","options":{"response":{"response":{"fullResponse":true,"responseFormat":"json"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,180],"id":"68fb9f58-de97-48f8-96db-52b957f9accc","name":"PART1"},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"🎤 Начинаю озвучку сценария...","additionalFields":{"appendAttribution":false}},"id":"c2ef1fb0-18de-4cca-87a6-2966695dace3","name":"TTS Progress Message1","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[440,20],"webhookId":"116a5264-1418-4686-ac06-d5c4ea242edd","credentials":{"telegramApi":{"id":"LtXNv00coe9jU4Bw","name":"@StorLexxBot"}}},{"parameters":{"assignments":{"assignments":[{"id":"452f820c-48fa-494e-aabd-aa1473532358","name":"=prompt","value":"={{ $('Telegram Trigger1').item.json.message.text }}","type":"string"},{"id":"e75130d3-3c16-4137-967a-a1b87a76a23d","name":"requestedLength","value":"={{ $('Telegram Trigger1').item.json.message.text.match(/\\d+\\s*символ/i) ? parseInt($('Telegram Trigger1').item.json.message.text.match(/\\d+/)[0]) : 22000 }}","type":"number"},{"id":"cdae62f4-d7cf-4363-9ec2-9295a11dfcf4","name":"finalLength","value":"={{ $json.requestedLength > 25000 ? 25000 : $json.requestedLength }}","type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-440,180],"id":"3e025aa6-86b2-46be-93fa-f7ae4d65d7d0","name":"Edit Fields2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1300,180],"id":"1b06bb2f-b1d2-4544-a067-a2fbdd7b0b87","name":"Wait1","webhookId":"2a0f937b-ac43-443d-9ba7-94699ad3f93b"},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot7623073095:AAHHz5mHIGu33XzZdJaF9v5QCAnVZDvYJ3Q/sendChatAction","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('Telegram Trigger1').item.json.message.from.id }}"},{"name":"action","value":"typing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1060,140],"id":"6be72042-30e4-45fb-a99d-2785bfe4e23f","name":"HTTP typing...","alwaysOutputData":true,"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot7623073095:AAHHz5mHIGu33XzZdJaF9v5QCAnVZDvYJ3Q/sendChatAction","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('Telegram Trigger1').item.json.message.from.id }}"},{"name":"action","value":"typing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"f87ceefc-c949-489d-a572-932f0a989f81","name":"HTTP typing...3","alwaysOutputData":true,"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"f15a054f-5771-48be-8a61-60f2edd5510f","name":"chatId","value":"={{ $('Telegram Trigger1').first().json.message.chat.id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,180],"id":"29aff938-dbdd-47d1-b9d7-757bce84a758","name":"Edit Fields3"},{"parameters":{"operation":"toBinary","sourceProperty":"body.audioContent","binaryPropertyName":"audioData","options":{"fileName":"=audio_part_{{ $('Split Text for TTS1').item.json.partNumber }}.mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[940,180],"id":"a4d10f00-c290-4103-b6e0-514c04219cd1","name":"Convert to File1"},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"❌ Произошла ошибка при генерации сценария.  Попробуйте еще раз через минуту или обратитесь к администратору.  Ошибка: {{ $json.error.message }}","additionalFields":{"appendAttribution":false}},"id":"be588788-96d1-4810-87cf-3402dfe137e3","name":"Send Error Message1","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[-420,800],"webhookId":"8858be3f-a355-421b-bfcb-fec1ed34a4d8","credentials":{"telegramApi":{"id":"LtXNv00coe9jU4Bw","name":"@StorLexxBot"}},"disabled":true},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o","mode":"list","cachedResultName":"Story YouTube Bot Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1309497314,"mode":"list","cachedResultName":"Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o/edit#gid=1309497314"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ new Date().toISOString() }}","userId":"={{ $('Telegram Trigger1').item.json.message.from.id }}","username":"={{ $('Telegram Trigger1').item.json.message.from.username }}","prompt":"={{ $('Telegram Trigger1').item.json.message.text }}","scriptLength":"=0","status":"=error","fileName":"=-","error":"={{ $('Catch Errors').item.json.error.message || 'Unknown error' }}"},"matchingColumns":[],"schema":[{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scriptLength","displayName":"scriptLength","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fileName","displayName":"fileName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"error","displayName":"error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"64f3afb5-108c-4258-b3da-9960a158fb43","name":"Log Error to Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-220,800],"credentials":{"googleSheetsOAuth2Api":{"id":"E7s2cNFa3ycWAS32","name":"Google Sheets @StorLexxBot"}},"disabled":true},{"parameters":{},"id":"8ddb2e58-da7f-45d3-b307-43979b739819","name":"Catch Errors","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-620,800],"disabled":true},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o","mode":"list","cachedResultName":"Story YouTube Bot Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1309497314,"mode":"list","cachedResultName":"Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127kXP94lsJo_kE8lgrPnjmv2TSnoJORZlP-hp_U6P-o/edit#gid=1309497314"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ new Date().toISOString() }}","userId":"={{ $('Telegram Trigger1').item.json.message.from.id }}","username":"={{ $('Telegram Trigger1').item.json.message.from.username }}","prompt":"={{ $('Telegram Trigger1').item.json.message.text }}","script":"={{ $('Validate & Trim Script1').item.json.scriptText }}","scriptLength":"={{ $('Validate & Trim Script1').item.json.actualLength }}","status":"=success","fileName":"={{ $('Validate & Trim Script1').item.json.fileName }}","error":"=none"},"matchingColumns":[],"schema":[{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"script","displayName":"script","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scriptLength","displayName":"scriptLength","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fileName","displayName":"fileName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"error","displayName":"error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"71d18669-920e-4228-abbb-c1343fbd3588","name":"Log Success to Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1660,180],"credentials":{"googleSheetsOAuth2Api":{"id":"E7s2cNFa3ycWAS32","name":"Google Sheets @StorLexxBot"}}}],"connections":{"Telegram Trigger1":{"main":[[{"node":"Rate Limit OK?1","type":"main","index":0},{"node":"HTTP typing...","type":"main","index":0},{"node":"Check Rate Limit1","type":"main","index":0}]]},"Check Rate Limit1":{"main":[[{"node":"Rate Limit OK?1","type":"main","index":0}]]},"Rate Limit OK?1":{"main":[[{"node":"Send Progress Message ","type":"main","index":0}],[{"node":"Send Rate Limit Message1","type":"main","index":0}]]},"Send Progress Message ":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Prepare Request Data1","type":"main","index":0}]]},"Prepare Request Data1":{"main":[[{"node":"AI Agent1","type":"main","index":0},{"node":"HTTP typing...3","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Validate & Trim Script1","type":"main","index":0}]]},"Validate & Trim Script1":{"main":[[{"node":"Split Text for TTS1","type":"main","index":0},{"node":"TTS Progress Message1","type":"main","index":0}]]},"Split Text for TTS1":{"main":[[{"node":"PART1","type":"main","index":0}]]},"PART1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Send Audio to Telegram1","type":"main","index":0}]]},"Send Audio to Telegram1":{"main":[[{"node":"Log Success to Sheets","type":"main","index":0}]]},"Catch Errors":{"main":[[{"node":"Send Error Message1","type":"main","index":0}]]},"Send Error Message1":{"main":[[{"node":"Log Error to Sheets1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fe18d6d5-4faf-4a1a-8741-9429d5fcabe9","triggerCount":1,"shared":[{"createdAt":"2025-08-01T19:46:17.809Z","updatedAt":"2025-08-01T19:46:17.809Z","role":"workflow:owner","workflowId":"uTQd4UOrwiMvFLZK","projectId":"zzPl0J6fgMubUxOk"}],"tags":[]}