backuptogit-IVvpEcCoB7lczQFF.json
{"createdAt":"2025-07-02T10:29:08.021Z","updatedAt":"2025-07-02T11:44:43.573Z","id":"IVvpEcCoB7lczQFF","name":"BackUpToGit","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"b4e28091-212d-4540-9df4-160143616615","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2100,280]},{"parameters":{"options":{}},"id":"fe5159e5-8633-4874-8069-0b7117a9c718","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1900,280]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"9bf1d6b7-c2fe-440e-85d4-42a7250bc6eb","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1700,280]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"eae8394e-6b0c-482c-8ccb-d16dd6357bb5","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1500,280]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/LexxUS-n8n/n8n_backup","mode":"url"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/LexxUS-n8n/n8n_backup"},"filePath":"="},"id":"18bb0eec-4d67-4504-97eb-7bc9748c81d9","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1300,280],"alwaysOutputData":true,"webhookId":"a41dd88f-503f-4f87-be36-27e418ec1698","credentials":{"githubOAuth2Api":{"id":"8Tusg7hRZcP6Bibb","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"0a4e7f25-0b63-4acf-9d24-9ca456e8bcc4","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1100,280]},{"parameters":{"filters":{},"requestOptions":{}},"id":"0e1ad23f-4e78-46ed-a591-1d39c4641a74","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-900,280],"credentials":{"n8nApi":{"id":"70YGyV0t8yRmk57u","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"27c51908-eb8f-403b-8f0b-cbe343e5cd8f","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-700,280]},{"parameters":{"batchSize":1,"options":{}},"id":"742320a4-2beb-4831-a4e5-fa5e433b33f2","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-460,280]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"0d143921-fd58-42a2-9d19-c4b0d6c6685e","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-220,200]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/LexxUS-n8n/n8n_backup","mode":"url"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/LexxUS-n8n/n8n_backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"e040a149-23ef-4fae-919e-8e1589e7eb03","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,0],"webhookId":"c1769514-e3f1-4d98-8513-3204b77fc29d","credentials":{"githubOAuth2Api":{"id":"8Tusg7hRZcP6Bibb","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/LexxUS-n8n/n8n_backup","mode":"url"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/LexxUS-n8n/n8n_backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"61b1967c-43f7-4a46-8333-08fb2e2e5fe2","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,400],"webhookId":"5eff3326-af73-4d60-8880-0832b33dfadf","credentials":{"githubOAuth2Api":{"id":"8Tusg7hRZcP6Bibb","name":"GitHub account"}}},{"parameters":{"content":"## @igorzuevich \n**Автор** на [YouTube](https://www.youtube.com/@igorzuevich)","height":240,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-7200,1560],"typeVersion":1,"id":"49557d0f-7f93-4706-97dd-58d90468340b","name":"Sticky Note2"}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a926aea1-6f20-49ca-9a16-b273a797ed3a","triggerCount":0,"tags":[]}