dq3d2-Mjhq5s5b5hEEHPWJ.json
{"createdAt":"2025-07-02T11:47:11.516Z","updatedAt":"2025-07-02T11:47:11.516Z","id":"Mjhq5s5b5hEEHPWJ","name":"dq3d2","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"3a17c10c-2c3f-4c53-b76d-62da227a31fc","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2100,280]},{"parameters":{"options":{}},"id":"59d2d9ed-021c-4d24-801c-00910f4e380a","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1900,280]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"ea96a7f2-f79e-4210-ab45-284d2233e2ea","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1700,280]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"df26796a-5687-44cb-a664-f19ca8c6cf74","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1500,280]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/LexxUS-n8n/n8n_backup","mode":"url"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/LexxUS-n8n/n8n_backup"},"filePath":"=","path":"57b442b9-71fa-4b3a-8c45-e71b10297633"},"id":"b57fefe4-3544-44da-8223-2063f45a02c3","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1300,280],"alwaysOutputData":true,"webhookId":"57b442b9-71fa-4b3a-8c45-e71b10297633","credentials":{"githubOAuth2Api":{"id":"8Tusg7hRZcP6Bibb","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"37e7b97e-0025-4c5f-8e90-07a2bb8bad2a","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1100,280]},{"parameters":{"filters":{},"requestOptions":{}},"id":"35116f7b-f289-4d1e-8f55-d4f9074e2189","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-900,280],"credentials":{"n8nApi":{"id":"70YGyV0t8yRmk57u","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"c1866f7c-2587-499b-9e1f-0908c077c453","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-700,280]},{"parameters":{"batchSize":1,"options":{}},"id":"cf65856e-818b-4436-9db0-f3b98f50503e","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-460,280]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"dd62cd9a-461b-4f86-9c50-32983f57f7d8","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-220,200]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/LexxUS-n8n/n8n_backup","mode":"url"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/LexxUS-n8n/n8n_backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}","path":"6ef6aded-d846-4470-897d-3a11e2fb99d0"},"id":"3808656f-2a00-49cb-b75c-4a9921d54b04","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,0],"webhookId":"6ef6aded-d846-4470-897d-3a11e2fb99d0","credentials":{"githubOAuth2Api":{"id":"8Tusg7hRZcP6Bibb","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/LexxUS-n8n/n8n_backup","mode":"url"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/LexxUS-n8n/n8n_backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}","path":"51672c47-b8b2-4f15-b5b8-b3ec70fa7cbf"},"id":"d5a3c928-7913-48f3-acc2-4d99f5ae4f3f","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,400],"webhookId":"51672c47-b8b2-4f15-b5b8-b3ec70fa7cbf","credentials":{"githubOAuth2Api":{"id":"8Tusg7hRZcP6Bibb","name":"GitHub account"}}},{"parameters":{"content":"## @igorzuevich \n**Автор** на [YouTube](https://www.youtube.com/@igorzuevich)","height":240,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-7200,1560],"typeVersion":1,"id":"ef672377-f137-4ca2-b229-811ab8bd8778","name":"Sticky Note2"}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2a750e82-c658-4ae9-9c34-2b5aef2e8a27","triggerCount":0,"tags":[]}