ertos-tg-rdo1nZS9zlypKnbZ.json
{"createdAt":"2025-07-02T11:56:41.638Z","updatedAt":"2025-07-20T09:07:01.860Z","id":"rdo1nZS9zlypKnbZ","name":"ERTOS-TG","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"3d1c2996-9652-44ba-84bd-9a01770b0d34","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-740,360],"credentials":{"openAiApi":{"id":"OQxRF1vF9j0io6W9","name":"OpenAi account"}}},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"ce8f7df1-db1d-479a-a370-410ef3ff11b3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{},"id":"6a3e646a-7b63-42f0-82e3-f53ac64800c3","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-600,360],"notesInFlow":false,"credentials":{"postgres":{"id":"yBZjFNna7Ut485Pg","name":"Postgres account"}}},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":1035.6381264595484},"id":"75dff9aa-68fc-4ad4-9cd5-8b6a9d69e323","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1040,60]},{"parameters":{"assignments":{"assignments":[{"id":"9a9a245e-f1a1-4282-bb02-a81ffe629f0f","name":"chatInput","value":"={{ $json.message.text }}","type":"string"},{"id":"b80831d8-c653-4203-8706-adedfdb98f77","name":"sessionId","value":"={{ $json.message.chat.id }}","type":"string"}]},"options":{}},"id":"e44e3f74-4283-4064-8728-b20c1f5fd901","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-740,140]},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are a personal assistant who helps answer questions from a corpus of documents. The documents are either text based (Txt, docs, extracted PDFs, etc.) or tabular data (CSVs or Excel documents).\n\nYou are given tools to perform RAG in the 'documents' table, look up the documents available in your knowledge base in the 'document_metadata' table, extract all the text from a given document, and query the tabular files with SQL in the 'document_rows' table.\n\nAlways start by performing RAG unless the question requires a SQL query for tabular data (fetching a sum, finding a max, something a RAG lookup would be unreliable for). If RAG doesn't help, then look at the documents that are available to you, find a few that you think would contain the answer, and then analyze those.\n\nAlways tell the user if you didn't find the answer. Don't make something up just to please them."}},"id":"10298a56-59ca-416f-96f9-ace408a87113","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-520,140]},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-460,360],"id":"858f8b4b-1db6-4de1-89ac-37c5ac781f68","name":"List Documents","credentials":{"postgres":{"id":"yBZjFNna7Ut485Pg","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Given a file ID, fetches the text from the document.","operation":"executeQuery","query":"SELECT \n    string_agg(content, ' ') as document_text\nFROM documents\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';","options":{"queryReplacement":"={{ $fromAI('file_id') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-320,360],"id":"ab352827-fcf1-4e76-bf8c-37320a1f6711","name":"Get File Contents","credentials":{"postgres":{"id":"yBZjFNna7Ut485Pg","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Run a SQL query - use this to query from the document_rows table once you know the file ID you are querying. dataset_id is the file_id and you are always using the row_data for filtering, which is a jsonb field that has all the keys from the file schema given in the document_metadata table.\n\nExample query:\n\nSELECT AVG((row_data->>'revenue')::numeric)\nFROM document_rows\nWHERE dataset_id = '123';\n\nExample query 2:\n\nSELECT \n    row_data->>'category' as category,\n    SUM((row_data->>'sales')::numeric) as total_sales\nFROM dataset_rows\nWHERE dataset_id = '123'\nGROUP BY row_data->>'category';","operation":"executeQuery","query":"{{ $fromAI('sql_query') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-160,360],"id":"43433f07-ef3a-4a44-bd01-ebe58f71ad03","name":"Query Document Rows","credentials":{"postgres":{"id":"yBZjFNna7Ut485Pg","name":"Postgres account"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"documents","toolDescription":"Use RAG to look up information in the knowledgebase.","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[160,140],"id":"3db6fae4-42dd-4da7-b425-7e3e5447f616","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"Xw1OfxjlBFtkH15r","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[260,320],"id":"b495e969-dec4-4d95-a84a-67ffb2ce4136","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"OQxRF1vF9j0io6W9","name":"OpenAi account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"f98289cc-f6c3-4a6b-be64-ec98a77fa8e1","name":"ERTOS_bot","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-980,220],"webhookId":"6ed50111-9b95-44be-8e88-e23ffaf4610d","credentials":{"telegramApi":{"id":"Wbb1uJ7ZyrREb6oF","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('ERTOS_bot').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"e1cfbb44-2353-475e-8ad9-db9c485ac85a","name":"Response","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-160,80],"webhookId":"ac2c424d-f210-4300-8535-22b21bb1905f","credentials":{"telegramApi":{"id":"Wbb1uJ7ZyrREb6oF","name":"Telegram account"}}},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot7630802525:AAFITj5lK8E_O7B8GA0ZiWqywVOAXagFbGQ/sendChatAction","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chat_id\": {{ $('ERTOS_bot').item.json.message.chat.id }},\n  \"action\": \"typing\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-500,0],"id":"20e21c0e-6e46-47fa-a390-554a73ab9bc0","name":"Typing 1"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Edit Fields":{"main":[[{"node":"RAG AI Agent","type":"main","index":0},{"node":"Typing 1","type":"main","index":0}]]},"RAG AI Agent":{"main":[[{"node":"Response","type":"main","index":0}]]},"List Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Get File Contents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Query Document Rows":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"ERTOS_bot":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:File Created":{"lastTimeChecked":"2025-07-02T21:01:47Z"},"node:File Updated":{"lastTimeChecked":"2025-07-02T21:01:33Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"89cc560c-7899-4f80-ac8a-b71c585089fe","triggerCount":1,"shared":[{"createdAt":"2025-07-02T11:56:41.638Z","updatedAt":"2025-07-02T11:56:41.638Z","role":"workflow:owner","workflowId":"rdo1nZS9zlypKnbZ","projectId":"zzPl0J6fgMubUxOk"}],"tags":[]}