my-workflow-3-kpn6OwFIjreRmlQE.json
{"createdAt":"2025-08-01T19:41:04.042Z","updatedAt":"2025-08-01T19:41:04.042Z","id":"kpn6OwFIjreRmlQE","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"02841c67-be5f-461f-9da3-2eb06be2092f","name":"Telegram Trigger1","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1260,280],"webhookId":"0d41b461-80c9-45c7-b553-ff868f92a104"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":"ТВОЙ_GOOGLE_SHEET_ID"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"UserRequests","cachedResultUrl":"https://docs.google.com/spreadsheets/d/ТВОЙ_GOOGLE_SHEET_ID/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"userId":"={{ $json.message.from.id }}","timestamp":"={{ new Date().toISOString() }}","lastRequest":"={{ Date.now() }}","username":"={{ $json.message.from.username }}","preferredVoice":"={{ $json.preferredVoice || 'ru-RU-Wavenet-D' }}","pitch":"={{ $json.pitch || 0 }}","speakingRate":"={{ $json.speakingRate || 1 }}","voiceName":"={{ $json.voiceName || 'Анна' }}","audioFormat":"={{ $json.audioFormat || 'MP3' }}"},"matchingColumns":["userId"],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lastRequest","displayName":"lastRequest","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"preferredVoice","displayName":"preferredVoice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"voiceName","displayName":"voiceName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"speakingRate","displayName":"speakingRate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"pitch","displayName":"pitch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"audioFormat","displayName":"audioFormat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"USER_ENTERED"}},"id":"7154b0c0-9351-4446-b657-14d37efc7754","name":"Check Rate Limit1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-1060,400]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.lastRequest === undefined || (new Date().getTime() - parseInt($json.lastRequest)) >= 60000 }}","value2":true}]}},"id":"174a01de-15de-4690-9c1c-fd85deed81e5","name":"Rate Limit OK?1","type":"n8n-nodes-base.if","typeVersion":1,"position":[-860,280]},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"=⏳ Подождите минуту перед следующим запросом. Осталось {{ Math.ceil((60000 - (new Date().getTime() - parseInt($('Check Rate Limit1').item.json.lastRequest))) / 1000) }} секунд.","additionalFields":{"appendAttribution":false}},"id":"c5b7c1b9-c5e0-4be1-aad4-b16295e530ba","name":"Send Rate Limit Message1","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[-660,380],"webhookId":"41e22f12-8f53-4ee6-8670-b3073c43db59"},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"🎬 Получил ваш запрос! Генерирую сценарий для YouTube...","additionalFields":{"appendAttribution":false}},"id":"2a5c16ff-1c95-47f5-af15-9def84c811af","name":"Send Progress Message ","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[-660,180],"webhookId":"2bc32a0a-e2d0-4fa1-b0a2-59086a9260c3"},{"parameters":{"assignments":{"assignments":[{"id":"prompt","name":"prompt","value":"={{ $('Telegram Trigger1').item.json.message.text }}","type":"string"},{"id":"requestedLength","name":"requestedLength","value":"={{ $('Telegram Trigger1').item.json.message.text.match(/\\d+\\s*символ/i) ? parseInt($('Telegram Trigger1').item.json.message.text.match(/\\d+/)[0]) : 22000 }}","type":"number"},{"id":"finalLength","name":"finalLength","value":"={{ $json.requestedLength > 25000 ? 25000 : $json.requestedLength }}","type":"number"},{"id":"d974c4da-08fa-48d4-99b6-ee1952666f09","name":"systemPrompt","value":"=Ты профессиональный сценарист YouTube. Создай увлекательный сценарий на тему: {{ $('Telegram Trigger1').item.json.message.text }}. \n\nВАЖНО:\n- Длина: ровно {{ $json.finalLength }} символов (включая пробелы)\n- Пиши ТОЛЬКО чистый текст для озвучки\n- НЕ добавляй никаких пометок, скобок, тайм-кодов, сносок\n- НЕ пиши \"Введение:\", \"Заключение:\" или другие заголовки\n- Текст должен литься как единый рассказ от начала до конца\n- Используй разговорный стиль, как будто ведущий говорит в камеру\n- Начни сразу с интересного факта или вопроса\n- Не добавляй форматирований, \"\", * и тд к тексту.\n- Закончи призывом к действию (подписаться, лайк, комментарий)","type":"string"}]},"options":{}},"id":"a51fd8fe-0557-4c7c-a8a4-3124f4703924","name":"Prepare Request Data1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-260,180]},{"parameters":{"assignments":{"assignments":[{"id":"scriptText","name":"scriptText","value":"={{ $json.output }}","type":"string"},{"id":"actualLength","name":"actualLength","value":"={{ Math.min($json.output.length, $('Prepare Request Data1').item.json.finalLength) }}","type":"number"},{"id":"fileName","name":"fileName","value":"youtube_script_{{ Date.now() }}.txt","type":"string"}]},"options":{}},"id":"d924ff39-1e93-480a-be6d-413f85dd1d9b","name":"Validate & Trim Script1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[260,180]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"ТВОЙ_GOOGLE_SHEET_ID","mode":"list","cachedResultName":"YouTube Bot Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/ТВОЙ_GOOGLE_SHEET_ID/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1936379523,"mode":"list","cachedResultName":"Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/ТВОЙ_GOOGLE_SHEET_ID/edit#gid=1936379523"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ new Date().toISOString() }}","userId":"={{ $('Telegram Trigger1').item.json.message.from.id }}","username":"={{ $('Telegram Trigger1').item.json.message.from.username }}","prompt":"={{ $('Telegram Trigger1').item.json.message.text }}","script":"={{ $('Validate & Trim Script1').item.json.scriptText }}","scriptLength":"={{ $('Validate & Trim Script1').item.json.actualLength }}","status":"=success","fileName":"={{ $('Validate & Trim Script1').item.json.fileName }}","error":"=none"},"matchingColumns":[],"schema":[{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"script","displayName":"script","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scriptLength","displayName":"scriptLength","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fileName","displayName":"fileName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"error","displayName":"error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"87a4b362-3717-4622-b58e-a643f5df771a","name":"Log Success to Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1660,180],"credentials":{"googleSheetsOAuth2Api":{"id":"E7s2cNFa3ycWAS32","name":"Google Sheets @StorLexxBot"}}},{"parameters":{"modelName":"models/gemini-2.5-pro-preview-06-05","options":{"maxOutputTokens":8192,"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-140,400],"id":"095d593f-cff2-4dba-a54d-e905ab78e03e","name":"Google Gemini Chat Model1"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"={{ $json.systemPrompt }}","maxIterations":1}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-80,180],"id":"8d3309a7-2576-42e2-a3a1-a2d78494326f","name":"AI Agent1"},{"parameters":{"jsCode":"const text = $input.first().json.scriptText;\nconst maxLength = 2400;\nlet parts = [];\n\n// Разбиваем текст на части\nlet currentPart = '';\nconst sentences = text.match(/[^.!?]+[.!?]+/g) || [text];\n\nfor (const sentence of sentences) {\n  if ((currentPart + sentence).length <= maxLength) {\n    currentPart += sentence;\n  } else {\n    if (currentPart.trim()) parts.push(currentPart.trim());\n    currentPart = sentence;\n    if (parts.length >= 10) break;\n  }\n}\nif (currentPart.trim() && parts.length < 10) {\n  parts.push(currentPart.trim());\n}\n\n// ВАЖНО: Очистка текста ПЕРЕД return\nparts = parts.map(part => \n  part.replace(/\"/g, \"'\")       // заменяем двойные кавычки на одинарные\n      .replace(/\\n/g, \" \")       // заменяем переносы строк на пробелы\n      .replace(/\\\\/g, \"\")        // убираем обратные слеши\n      .replace(/\\r/g, \" \")       // убираем возврат каретки\n      .trim()\n);\n\n// Возвращаем каждую часть как отдельный item\nreturn parts.map((part, index) => ({\n  json: {\n    textPart: part,\n    partNumber: index + 1,\n    totalParts: parts.length,\n    partLength: part.length,\n    chatId: $('Telegram Trigger1').first().json.message.chat.id  // ИСПРАВЛЕНО: .item на .first()\n  }\n}));"},"id":"2ada219b-5d33-4828-aa13-ef48b07852f6","name":"Split Text for TTS1","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,180],"alwaysOutputData":false},{"parameters":{"operation":"sendAudio","chatId":"={{ $json.chatId }}","binaryData":true,"binaryPropertyName":"=audioData","additionalFields":{"caption":"=🎵 Часть {{ $('Split Text for TTS1').item.json.partNumber }} из {{ $('Split Text for TTS1').item.json.totalParts }}"}},"id":"61779980-c3ef-41e3-b28d-b5fb1f5b6900","name":"Send Audio to Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[1480,180],"webhookId":"51806135-af15-4ea6-b887-172ec28064fd"},{"parameters":{"method":"POST","url":"https://texttospeech.googleapis.com/v1/text:synthesize?key=ВСТАВЬ_СВОЙ_КЛЮЧ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"input\": {\n    \"text\": \"{{ $json.textPart }}\"\n  },\n  \"voice\": {\n    \"languageCode\": \"ru-RU\",\n    \"name\": \"ru-RU-Wavenet-D\",\n    \"ssmlGender\": \"FEMALE\"\n  },\n  \"audioConfig\": {\n    \"audioEncoding\": \"MP3\"\n  }\n}","options":{"response":{"response":{"fullResponse":true,"responseFormat":"json"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,180],"id":"1f6fca81-0243-40f3-bc9c-daa0fe42a3cd","name":"PART1"},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"🎤 Начинаю озвучку сценария...","additionalFields":{"appendAttribution":false}},"id":"fd9a0a09-d53a-4da3-b3ca-7473d407d150","name":"TTS Progress Message1","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[440,20],"webhookId":"a9a06f2c-d96c-49c1-8bc4-ebe09c0afb0c"},{"parameters":{"assignments":{"assignments":[{"id":"452f820c-48fa-494e-aabd-aa1473532358","name":"=prompt","value":"={{ $('Telegram Trigger1').item.json.message.text }}","type":"string"},{"id":"e75130d3-3c16-4137-967a-a1b87a76a23d","name":"requestedLength","value":"={{ $('Telegram Trigger1').item.json.message.text.match(/\\d+\\s*символ/i) ? parseInt($('Telegram Trigger1').item.json.message.text.match(/\\d+/)[0]) : 22000 }}","type":"number"},{"id":"cdae62f4-d7cf-4363-9ec2-9295a11dfcf4","name":"finalLength","value":"={{ $json.requestedLength > 25000 ? 25000 : $json.requestedLength }}","type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-440,180],"id":"1838617f-28d4-46f2-b94a-b2f5d1e1fdac","name":"Edit Fields2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1300,180],"id":"29960541-ed19-4a4c-9bc0-23708d19191b","name":"Wait1","webhookId":"f42e2eb5-6c48-4bd7-b772-e90276bcebea"},{"parameters":{"method":"POST","url":"https://api.telegram.org/botТОКЕН_ТВОЕГО_БОТА/sendChatAction","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('Telegram Trigger1').item.json.message.from.id }}"},{"name":"action","value":"typing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1060,140],"id":"bce171cb-6cae-4feb-bd9c-c991c2f00c86","name":"HTTP typing...","alwaysOutputData":true,"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.telegram.org/botТОКЕН_ТВОЕГО_БОТА/sendChatAction","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('Telegram Trigger1').item.json.message.from.id }}"},{"name":"action","value":"typing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"64734106-a20a-4b07-97da-e05fdbc8195d","name":"HTTP typing...3","alwaysOutputData":true,"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"f15a054f-5771-48be-8a61-60f2edd5510f","name":"chatId","value":"={{ $('Telegram Trigger1').first().json.message.chat.id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,180],"id":"1f14c2bc-e746-40da-89f3-fd59b2e10b51","name":"Edit Fields3"},{"parameters":{"operation":"toBinary","sourceProperty":"body.audioContent","binaryPropertyName":"audioData","options":{"fileName":"=audio_part_{{ $('Split Text for TTS1').item.json.partNumber }}.mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[940,180],"id":"175ea446-1978-40bf-a5b1-ecfe5687402d","name":"Convert to File1"},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"❌ Произошла ошибка при генерации сценария.  Попробуйте еще раз через минуту или обратитесь к администратору.  Ошибка: {{ $json.error.message }}","additionalFields":{"appendAttribution":false}},"id":"ca80373f-5c63-4650-8775-20448fb81c48","name":"Send Error Message1","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[-420,800],"webhookId":"fa46b0b2-de8a-4f95-a419-bcd88df95543"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"ТВОЙ_GOOGLE_SHEET_ID","mode":"list","cachedResultName":"YouTube Bot Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/ТВОЙ_GOOGLE_SHEET_ID/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1936379523,"mode":"list","cachedResultName":"Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/ТВОЙ_GOOGLE_SHEET_ID/edit#gid=1936379523"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ new Date().toISOString() }}","userId":"={{ $('Telegram Trigger1').item.json.message.from.id }}","username":"={{ $('Telegram Trigger1').item.json.message.from.username }}","prompt":"={{ $('Telegram Trigger1').item.json.message.text }}","script":"=","scriptLength":"=0","status":"=error","fileName":"=-","error":"={{ $('Catch Errors').item.json.error.message || 'Unknown error' }}"},"matchingColumns":[],"schema":[{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"script","displayName":"script","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scriptLength","displayName":"scriptLength","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fileName","displayName":"fileName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"error","displayName":"error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"6df8c635-f0a1-4795-ac98-bba9b5c3b2e9","name":"Log Error to Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-220,800]},{"parameters":{},"id":"48998ce0-5886-4c87-95e3-8bad4a60ac9d","name":"Catch Errors","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-620,800]}],"connections":{"Telegram Trigger1":{"main":[[{"node":"HTTP typing...","type":"main","index":0}]]},"Check Rate Limit1":{"main":[[{"node":"Rate Limit OK?1","type":"main","index":0}]]},"Rate Limit OK?1":{"main":[[{"node":"Send Progress Message ","type":"main","index":0}],[{"node":"Send Rate Limit Message1","type":"main","index":0}]]},"Send Progress Message ":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Prepare Request Data1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Validate & Trim Script1":{"main":[[{"node":"Split Text for TTS1","type":"main","index":0},{"node":"TTS Progress Message1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"HTTP typing...3","type":"main","index":0}]]},"Split Text for TTS1":{"main":[[{"node":"PART1","type":"main","index":0}]]},"Send Audio to Telegram1":{"main":[[{"node":"Log Success to Sheets1","type":"main","index":0}]]},"PART1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Prepare Request Data1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Send Audio to Telegram1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Send Error Message1":{"main":[[{"node":"Log Error to Sheets1","type":"main","index":0}]]},"Catch Errors":{"main":[[{"node":"Send Error Message1","type":"main","index":0}]]},"HTTP typing...":{"main":[[{"node":"Check Rate Limit1","type":"main","index":0}]]},"HTTP typing...3":{"main":[[{"node":"Validate & Trim Script1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"cffbf959-8216-416d-9540-28d3eb07297a","triggerCount":0,"shared":[{"createdAt":"2025-08-01T19:41:04.042Z","updatedAt":"2025-08-01T19:41:04.042Z","role":"workflow:owner","workflowId":"kpn6OwFIjreRmlQE","projectId":"zzPl0J6fgMubUxOk"}],"tags":[]}