my-workflow-4evPWrIgp5QpwiTL.json
{"createdAt":"2025-07-02T18:31:04.932Z","updatedAt":"2025-07-04T17:14:51.273Z","id":"4evPWrIgp5QpwiTL","name":"My workflow","active":false,"isArchived":true,"nodes":[{"parameters":{"content":"## DOCX, DOC, ODT","height":256,"width":621.9587230454906,"color":4},"id":"39f1669b-cc63-4127-bb82-1867cf954c91","name":"Sticky Note21","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[740,-80]},{"parameters":{"resource":"fileFolder","queryString":"nmuNRMAAAAE_grafico_20240408152409","returnAll":true,"filter":{},"options":{}},"id":"cbe85275-83c2-48e3-b481-bfa868299a9c","name":"List files","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[780,0],"credentials":{"googleDriveOAuth2Api":{"id":"abr9o6aLXuRPoSDB","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"=https://www.googleapis.com/drive/v2/files/{{ $json.id }}/copy?convert=true&supportsAllDrives=true","authentication":"predefinedCredentialType","nodeCredentialType":"googleDocsOAuth2Api","options":{}},"id":"ded13681-2e4d-497c-9c20-95d2df686e20","name":"Convert MS files to Google Docs","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[980,0],"credentials":{"googleDocsOAuth2Api":{"id":"qflOLzW72PSimsmS","name":"Google Docs account"}}},{"parameters":{"authentication":"serviceAccount","operation":"get","documentURL":"={{ $json.id }}"},"id":"5a080d97-9cdf-4210-911e-cf0566495262","name":"Read Docs file","type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1180,0]}],"connections":{"List files":{"main":[[{"node":"Convert MS files to Google Docs","type":"main","index":0}]]},"Convert MS files to Google Docs":{"main":[[{"node":"Read Docs file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b773b7e9-5b48-4b8e-8919-47f98ef82ebd","triggerCount":0,"tags":[]}