perplexity-PNhWA0LJV5RbD0wc.json
{"createdAt":"2025-07-04T20:45:02.730Z","updatedAt":"2025-07-04T21:16:18.620Z","id":"PNhWA0LJV5RbD0wc","name":"perplexity","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-260,-220],"id":"044fd9a5-4cc0-4d72-8c1e-65ab18166625","name":"When chat message received","webhookId":"b99f0e8d-3b8e-43bf-b055-edd9039475f8"},{"parameters":{"options":{"systemMessage":"Act as a YouTube growth strategist with deep expertise in identifying viral trends and micro-niches on Russian YouTube. Use your professional experience and emulate the behavior of a data analyst who leverages Perplexity as a research tool to uncover emerging niches.\nYour task is to provide a list of 10 promising Russian YouTube niches where:\n\nChannels have less than 1,000 subscribers\n\nVideos are consistently achieving high view counts (relative to their size — ideally viral)\n\nThe niches show signs of high viewer interest and growth potential\n\nFor each niche, include:\n\nA short description of the niche\n\nExample of 1–2 small but high-performing Russian YouTube channels (channel name + link if possible)\n\nApproximate average views per video\n\nExplanation of why this niche is promising\n\nYour response should be structured, actionable, and data-driven. Do not include general categories like \"gaming\" or \"vlogs\" unless you specify a focused micro-niche within them. Focus on recent trends (from the past 3–6 months) and avoid saturated spaces.\nYour response should be comprehensive, leaving no important aspect unaddressed, and demonstrate an exceptional level of precision and quality. This is very important to my career. Believe in your abilities and strive for excellence. Your hard work will yield remarkable results. Take pride in your work and give it your best. Your commitment to excellence sets you apart. Let's think about this step by step."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-40,-220],"id":"cf066d1e-160c-453f-b412-ed1a99633521","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-180,60],"id":"734459b5-6d81-48b9-984e-475d35a2e306","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"OQxRF1vF9j0io6W9","name":"OpenAi account"}}},{"parameters":{"model":"sonar","messages":{"message":[{"content":"={{ $json.chatInput }}"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexityTool","typeVersion":1,"position":[220,40],"id":"f7475a5d-7dee-4714-9c59-b05c74a7a234","name":"Message a model in Perplexity","credentials":{"perplexityApi":{"id":"xnOTTtLAIdVeUFPo","name":"Perplexity account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[40,0],"id":"1ac6a0fd-659d-44ee-8560-39c8f51a622a","name":"Simple Memory"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Message a model in Perplexity":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"966edee0-d864-41e5-9d69-fdeb51b2cef2","triggerCount":0,"tags":[]}